---
---

@import "{{ site.theme }}";

body {
  font-family: 'Open Sans', Myriad, Calibri, sans-serif;
}

.btn {
  margin-top: 30px;
  margin-bottom: 30px;
  display: block;

  background-color: #4CAF50;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  font-size: 22px;

  border-radius: 2em;

  box-shadow: 0 0 0 0 rgba(75, 175, 80, 0.7);
  cursor: pointer;
  -webkit-animation: pulse 1.25s infinite cubic-bezier(0.66, 0, 0, 1);
  -moz-animation: pulse 1.25s infinite cubic-bezier(0.66, 0, 0, 1);
  -ms-animation: pulse 1.25s infinite cubic-bezier(0.66, 0, 0, 1);
  animation: pulse 1.25s infinite cubic-bezier(0.66, 0, 0, 1);
}

.btn:hover
{
  -webkit-animation: none;-moz-animation: none;-ms-animation: none;animation: none;
  text-decoration: none;
  color: white;
  font-size: 24px;
}

@-webkit-keyframes pulse {to {box-shadow: 0 0 0 40px rgba(232, 76, 61, 0);}}
@-moz-keyframes pulse {to {box-shadow: 0 0 0 40px rgba(232, 76, 61, 0);}}
@-ms-keyframes pulse {to {box-shadow: 0 0 0 40px rgba(232, 76, 61, 0);}}
@keyframes pulse {to {box-shadow: 0 0 0 40px rgba(232, 76, 61, 0);}}

td {
  vertical-align: top;

  img: {
    -webkit-box-sizing: border-box;

    -moz-box-sizing: border-box;

    box-sizing: border-box;
    border-radius: 100%;
  }
}
